# Server Configuration
PORT=3000
NODE_ENV=development

# Database Configuration
DATABASE_URL="postgresql://postgres.qtctqccnmgplvlnaxgzr:postgresql@aws-1-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.qtctqccnmgplvlnaxgzr:postgresql@aws-1-ap-southeast-1.pooler.supabase.com:5432/postgres"

# JWT Configuration
JWT_SECRET="5664e04b65a9b2e4215fbd0786fe4392cdf494764a0d45ab892bc4bbdd02d9f7ce5185fbae4c9ddf56da356e8bb706c29fcf38b1d29480c0311325bf3bc4a07a"
ACCESS_TOKEN_EXPIRY="15m"
REFRESH_TOKEN_EXPIRY="7d"

EMAIL_SERVICE=gmail
EMAIL_USER=duongdtth17jtt@gmail.com 
EMAIL_PASS=hqwf tmya losz ckzk
CLOUDINARY_CLOUD_NAME=dqbluifmd
CLOUDINARY_API_KEY=176843664938323
CLOUDINARY_API_SECRET=1k7QV1tUzl4G24rkC58XvphSets